header {
  position: relative;

  .logo-container {
    position: absolute;
    top: 7px;
    right: 0px;
    width: 300px;
    height: 70px;
    background-image: url('../../assets/images/header_logo_2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    z-index: 1;
  }
}

.page-number {
  position: absolute;
  top: $page-size-height - 30px;
  right: 20px;
  font-size: 12px;
  color: gray;
  z-index: 1;
}

.page-container {
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
  z-index: 1;
  width: 100%;
}

.page-title-container {
  position: relative;
  background-color: $title-background-color;
  padding-left: 40px;
}

.page-title {
  line-height: 90px;
  color: black;
}

.riskExplain-container {
  height: 192px;
}
