.logo {
  width: 450px;
  height: 380px;
  margin-top: 50px;
  object-fit: cover;
}

.subtitle {
  font-size: 50px;
  font-weight: bold;
  line-height: 50px;
  font-family: 'Passion One', cursive;
  letter-spacing: 1px;

  span {
    font-style: italic;
    color: rgb(191, 144, 0);
  }
}
