.bg-p14 {
  width: 75%;
  height: 75%;
}

.image-container {
  // height: 484px;
}

.sixcore {
  position: relative;
  &::after {
    position: absolute;
    content: '';
    background-image: url('../images/SixCoreIndexLegend.png');
    background-size: 96px 168px;
    height: 168px;
    width: 96px;
    bottom: 20px;
    right: 60px;
  }
}
