.bg-p3 {
  background-image: url('../../assets/images/3.png');
}

.field {
  border-bottom: 1px solid #000;
}

.profile-list {
  .list-item {
    padding-top: 10px;
    padding-bottom: 10px;
    span {
      font-size: 20px;
      font-weight: bold;
    }
  }
}
