.bg-p35 {
  background-image: url('../../assets/images/35.png');
}

.meaning-list {
  .list-item {
    list-style-type: decimal;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 4px;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    text-align: justify;
  }
}
