.ref-list {
  .list-item {
    list-style-type: decimal;
    font-size: 1rem;
    line-height: 1.4rem;
    letter-spacing: 2px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: justify;
  }
}
