.duty-list {
  .list-item {
    list-style-type: decimal;
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: 4px;
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
    text-align: justify;
  }
}
