.fb-table {
  width: 100%;
  border: 1px solid #000;

  th,
  td {
    font-size: 1.2rem;
    line-height: 2.4rem;
  }

  th {
    background-color: black;
    color: white;
  }
}

.comment-container {
  position: relative;
  padding-top: 1.5rem !important;
  border: 5px double #000;
  border-radius: 10px;

  .commentTitle {
    display: block;
    position: absolute;
    top: -1.7rem;
    left: 1.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-indent: 0;
    background-color: white;
  }
}
