<page size="A4">
  <div class="d-flex flex-column align-items-center h-100">
    <div class="logo-container-xl d-flex flex-column justify-content-center align-items-center">
      <img class="logo" src="./assets/images/logo-simple.png" alt="" />
      <h2 class="logo-name fw-bold">中天生技</h2>
      <!-- <div class="d-flex logo-subtitle mt-4"> -->
      <span class="logo-subtitle fw-bold">專業調理 現代養生</span>
      <!-- <span>現代養生</span> -->
      <!-- </div> -->
    </div>
    <h1 class="text-center">個人化腸生態<br />健康管理</h1>
    <h3 class="text-center subtitle pt-2"><span>Precision</span> Nutrition</h3>
    <div class="test"></div>
  </div>

  <!-- <footer>
    <div class="page-number">1</div>
  </footer> -->
</page>
