<page size="A4">
  <%- include('../ejs/logo.ejs') %>

  <div class="d-flex flex-column align-items-center">
    <div class="mt-8 w-100">
      <div class="col-9 page-title-container mb-5">
        <h3 class="page-title">1.5 短鏈脂肪酸合成能力</h3>
        <div class="parallelogram mr-0"></div>
        <div class="parallelogram mr-5"></div>
      </div>
    </div>

    <div class="mb-5 page-container">
      <h4 class="text-yellow mb-4">檢測結果</h4>
      <table class="fb-table text-center mb-4">
        <th>檢測數值</th>
        <th>結果分析</th>
        <th>參考範圍</th>
        <th>評估</th>
        <tr>
          <td>乙酸</td>
          <td>0.0011 %</td>
          <td></td>
          <td class="text-danger">合成能力偏低</td>
        </tr>
        <tr>
          <td>丙酸</td>
          <td>0.2458 %</td>
          <td></td>
          <td>合成能力正常</td>
        </tr>
        <tr>
          <td>丁酸</td>
          <td>2.3509 %</td>
          <td></td>
          <td>合成能力正常</td>
        </tr>
      </table>
      <h4 class="text-yellow mt-8 mb-4">檢測說明</h4>
      <p class="ls-1 my-4 text-justify">
        飲食中人體無法消化分解的膳食纖維，經由腸道中的益菌發酵成為可吸收利用的短鏈脂肪酸。腸道中的短鏈脂肪酸以乙酸、丙酸、丁酸這三種為主，主要功能為提供腸道細胞能量、促進腸道細胞分化、維持腸道粘膜健康與健全益菌生長環境。目前文獻證實丁酸具有調節免疫細胞的功能，為次世代保健食品，透過增加調節性T細胞，使腸道維持健康的免疫狀態
        ; 同時丁酸具有促進腸道激素(腸泌素)釋放，達到穩定血糖的作用。
      </p>

      <div class="bg-container bg-p10-container">
        <div class="bg-ori bg-p10"></div>
        <div class="bg-mask"></div>
      </div>
    </div>
  </div>

  <footer>
    <div class="page-number">10</div>
  </footer>
</page>
