<page size="A4">
  <div class="page-bg-v2">
    <img src="./assets/images_v2/2內頁.jpg" alt="" />
  </div>

  <div class="page-tab-v2 page-tab-v2-top28">腸道健康分析</div>

  <div class="p12-content">
    <div class="p12-header">
      <span class="page-breadcrumb">1.7 腸道菌相總覽</span>
    </div>

    <div class="p12-body mt-3">
      <h2 class="p12-title">您的腸道菌相結構分布</h2>

      <div class="p12-charts">
        <img src="./assets/images_v2/12_test.png" alt="菌相結構分布圖" />
      </div>

      <h2 class="p12-title mt-3">您的腸道菌</h2>
      <p class="p12-desc">根據對您腸道菌群的檢測，您的腸道內微生物結構分佈如下表：</p>

      <table class="p12-table">
        <thead>
          <tr>
            <th>排名</th>
            <th colspan="2">細菌菌門</th>
            <th>比例</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Firmicutes</td>
            <td>厚壁菌門</td>
            <td>56.6%</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Bacteroidetes</td>
            <td>擬桿菌門</td>
            <td>30.9%</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Actinobacteria</td>
            <td>放線菌門</td>
            <td>11.0%</td>
          </tr>
          <tr>
            <td>4</td>
            <td>Proteobacteria</td>
            <td>變形菌門</td>
            <td>1.5%</td>
          </tr>
          <tr>
            <td>5</td>
            <td>Verrucomicrobia</td>
            <td>疣微菌門</td>
            <td>0.0%</td>
          </tr>
          <tr>
            <td>6</td>
            <td>Fusobacteria</td>
            <td>梭桿菌門</td>
            <td>0.0%</td>
          </tr>
          <tr>
            <td>7</td>
            <td>Synergistetes</td>
            <td>互養菌門</td>
            <td>0.0%</td>
          </tr>
          <tr>
            <td>8</td>
            <td>Tenericutes</td>
            <td>軟壁菌門</td>
            <td>0.0%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <footer>
    <div class="page-number">12</div>
  </footer>
</page>
