<page size="A4">
  <%- include('../ejs/logo.ejs') %>

  <div class="d-flex flex-column align-items-center">
    <div class="mt-8 w-100">
      <div class="col-10 page-title-container mb-3">
        <div class="page-container">
          <h3 class="page-title">1.7 腸道菌相總覽</h3>
          <div class="parallelogram mr-8"></div>
          <div class="parallelogram mr-3"></div>
          <div class="triangle"></div>
        </div>
      </div>
    </div>

    <div class="mb-5 page-container">
      <h4 class="text-yellow my-4">您的腸道菌相分布</h4>

      <div class="distribution-container d-flex mb-6">
        <img src="./assets/images/12_1.png" alt="" class="col-7" />
        <img src="./assets/images/12_2.png" alt="" class="col-5" />
      </div>

      <span class="tableComment d-block w-100 text-center"
        >根據對您腸道菌群的檢測，您的腸道內微生物結構分佈如下表：
      </span>
      <table class="fb-table mt-3 text-center">
        <th class="col-3 text-center">排名</th>
        <th class="col-6 text-center" colspan="2">細菌菌門</th>
        <th class="col-3 text-center">比例</th>
        <tr>
          <td>1</td>
          <td>Firmicutes</td>
          <td>厚壁菌門</td>
          <td>46.9%</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Bacteroidetes</td>
          <td>擬桿菌門</td>
          <td>33.3%</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Proteobacteria</td>
          <td>變形菌門</td>
          <td>14.3%</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Verrucomicrobia</td>
          <td>疣微菌門</td>
          <td>3.0%</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Fusobacteria</td>
          <td>梭桿菌門</td>
          <td>1.2%</td>
        </tr>
        <tr>
          <td>6</td>
          <td>Actinobacteria</td>
          <td>放線菌門</td>
          <td>0.8%</td>
        </tr>
        <tr>
          <td>7</td>
          <td>Tenericutes</td>
          <td>軟壁菌門</td>
          <td>0.2%</td>
        </tr>
        <tr>
          <td>8</td>
          <td>Cyanobacteria</td>
          <td>藍藻門</td>
          <td>0.2%</td>
        </tr>
      </table>
    </div>
  </div>

  <footer>
    <div class="page-number">12</div>
  </footer>
</page>
