<page size="A4">
  <!-- <%- include('../ejs/title-logo.ejs') %> -->
  <%- include('../ejs/logo.ejs') %>

  <div class="d-flex flex-column align-items-center">
    <div class="titleBoxUpper bg-black w-100"></div>
    <div class="titleBox bg-black w-100">
      <h3 class="title-page-text text-center fw-bold text-white w-100">六大核心指數</h3>
    </div>
    <div class="titleBoxBottom bg-black w-100"></div>
  </div>

  <footer>
    <div class="page-number">13</div>
  </footer>
</page>
