<page size="A4">
  <%- include('../ejs/logo.ejs') %>

  <div class="d-flex flex-column align-items-center">
    <div class="mt-8 w-100">
      <div class="col-9 page-title-container mb-5">
        <h2 class="page-title">2. 六大核心指數</h2>
        <div class="parallelogram mr-0"></div>
        <div class="parallelogram mr-5"></div>
      </div>
    </div>

    <div class="page-container">
      <div class="image-container d-flex justify-content-center w-100 mt-4">
        <img src="./assets/images/14.png" alt="" class="bg-p14" />
      </div>

      <h4 class="py-1 px-2 pageSubtitle"><i class="far fa-hand-point-right mr-1"></i>結果說明</h4>
      <p class="text-indent mt-4">
        中天生物科技利用腸道菌相變化建立六大核心指數。根據您的檢測結果，<span class="text-primary"
          >油切健康指數偏低，表示您體內調節脂肪能力、蛋白質代謝能力較弱，建議減少飲食中肉類的比例；腸道功能指數偏低，表示您腸道防護能力及細胞再生能力較弱，建議適量服用腸道保健食品，改善腸道功能。</span
        >
      </p>
    </div>
  </div>

  <footer>
    <div class="page-number">14</div>
  </footer>
</page>
