<page size="A4">
  <div class="page-bg-v2">
    <img src="./assets/images_v2/2內頁.jpg" alt="" />
  </div>

  <div class="page-tab-v2 page-tab-v2-top28">六大核心指數</div>

  <div class="p14-content">
    <div class="p14-header">
      <span class="page-breadcrumb">2. 六大核心指數</span>
    </div>

    <div class="p14-body mt-5">
      <div class="p14-chart">
        <img src="./assets/images_v2/數值圖1.png" alt="六大核心指數" />
      </div>

      <h2 class="p14-title mt-5">結果說明</h2>

      <p class="p14-text text-indent">
        中天生物科技利用腸道菌相變化建立六大核心指數。根據您的檢測結果，微生態多樣性偏低，表示您腸道內細菌種類較少，腸道菌叢的生態平衡不穩定，容易引起過敏、代謝性、心血管疾病及腸胃道發炎。
      </p>
    </div>
  </div>

  <footer>
    <div class="page-number">14</div>
  </footer>
</page>
