<page size="A4">
  <%- include('../ejs/logo.ejs') %>

  <div class="d-flex flex-column align-items-center">
    <div class="mt-8 w-100">
      <div class="col-12 page-title-container mb-5">
        <h2 class="page-title">指數說明</h2>
        <div class="parallelogram mr-2"></div>
        <div class="parallelogram mr-5"></div>
      </div>
    </div>

    <div class="page-container">
      <h4 class="py-1 px-2 pageSubtitle">微生態多樣性</h4>
      <div class="d-flex justify-content-between mt-4">
        <div class="indexBtn-container mb-6 ml-4 p-1 border-orange">
          <div class="indexBtn text-white text-center p-2">
            <span class="text-last-justify d-block">中度風險</span>
            <span>45分</span>
          </div>
        </div>
        <div class="bg-p15-1-container">
          <img src="./assets/images/15_1.png" alt="" class="indexImg" />
        </div>
      </div>
      <div class="indexComment-container d-flex justify-content-between mb-4 p-2">
        <div class="indexComment-title-container p-1">
          <span class="indexComment-title">說明</span>
        </div>
        <p class="text-indent mt-4">
          微生態多樣性包括微生物豐富度及均勻度。豐富度代表腸道菌的種類數目，均勻度則代表各個菌種的數量差異。微生態多樣性是代表腸道健康的關鍵指標。透過運動、增加纖維食物攝取，可提高腸道菌群的多樣性，減少疾病風險。
        </p>
      </div>
      <h4 class="py-1 px-2 pageSubtitle">好壞菌叢指數</h4>
      <div class="d-flex justify-content-between mt-4">
        <div class="indexBtn-container mb-6 ml-4 p-1 border-green">
          <div class="indexBtn text-white text-center p-2">
            <span class="text-last-justify d-block">低度風險</span>
            <span>90分</span>
          </div>
        </div>
        <div class="bg-p15-1-container">
          <img src="./assets/images/15_2.png" alt="" class="indexImg" />
        </div>
      </div>
      <div class="indexComment-container d-flex justify-content-between p-2">
        <div class="indexComment-title-container p-1">
          <span class="indexComment-title">說明</span>
        </div>
        <p class="text-indent mt-4">
          好壞菌叢指標針對腸道內68個好菌及140個壞菌的數量變化進行綜合評分。好菌如益生菌 (乳酸桿菌, Lactobacillus)等 ;
          壞菌如病原菌 (大腸埃希氏菌, Escherichia coli
          )等。此指數代表腸道好菌與壞菌之間的平衡，如壞菌過多，腸道可能有失衡現象。
        </p>
      </div>
    </div>

    <div class="bg-container bg-p15-container">
      <div class="bg-ori bg-p15"></div>
      <div class="bg-mask"></div>
    </div>
  </div>

  <footer>
    <div class="page-number">15</div>
  </footer>
</page>
