<page size="A4">
  <%- include('../ejs/logo.ejs') %>

  <div class="d-flex flex-column align-items-center">
    <div class="mt-8 w-100">
      <div class="col-12 page-title-container mb-5">
        <h2 class="page-title">指數說明</h2>
        <div class="parallelogram mr-2"></div>
        <div class="parallelogram mr-5"></div>
      </div>
    </div>

    <div class="page-container">
      <h4 class="py-1 px-2 pageSubtitle">減糖健康指數</h4>
      <div class="d-flex justify-content-between mt-4">
        <div class="indexBtn-container mb-6 ml-4 p-1 border-red">
          <div class="indexBtn text-white text-center p-2">
            <span class="text-last-justify d-block">高度風險</span>
            <span>18分</span>
          </div>
        </div>
        <div class="bg-p15-1-container">
          <img src="./assets/images/16_1.png" alt="" class="indexImg" />
        </div>
      </div>
      <div class="indexComment-container d-flex justify-content-between mb-4 p-2">
        <div class="indexComment-title-container p-1">
          <span class="indexComment-title">說明</span>
        </div>
        <p class="text-indent mt-4">
          減糖健康指數是根據參與醣類代謝的關鍵腸道菌群進行分析。好菌如:艾克曼菌(Akkermansia
          muciniphila)，壞菌如:沃氏嗜膽菌 (Bilophila wadsworthia)等。此關鍵菌群決定醣類吸收代謝及熱量燃燒等生理功能。
        </p>
      </div>
      <h4 class="py-1 px-2 pageSubtitle">油切健康指數</h4>
      <div class="d-flex justify-content-between mt-4">
        <div class="indexBtn-container mb-6 ml-4 p-1 border-red">
          <div class="indexBtn text-white text-center p-2 bg-red">
            <span class="text-last-justify d-block">高度風險</span>
            <span>19分</span>
          </div>
        </div>
        <div class="bg-p15-1-container">
          <img src="./assets/images/16_2.png" alt="" class="indexImg" />
        </div>
      </div>
      <div class="indexComment-container d-flex justify-content-between p-2">
        <div class="indexComment-title-container p-1">
          <span class="indexComment-title">說明</span>
        </div>
        <p class="text-indent mt-4">
          油切健康指數是根據參與脂肪代謝的關鍵腸道菌群進行分析。好菌如:腸道羅斯拜瑞氏菌 (Roseburia
          intestinalis)等，壞菌如:陰溝腸桿菌 (Enterobacter
          cloacae)等。此關鍵菌群決定脂肪吸收、油脂堆積及脂肪燃燒等生理功能。
        </p>
      </div>
    </div>
    <div class="bg-container bg-p15-container">
      <div class="bg-ori bg-p15"></div>
      <div class="bg-mask"></div>
    </div>
  </div>

  <footer>
    <div class="page-number">16</div>
  </footer>
</page>
