<page size="A4">
  <div class="page-bg-v2">
    <img src="./assets/images_v2/2內頁.jpg" alt="" />
  </div>

  <div class="page-tab-v2 page-tab-v2-top28">六大核心指數</div>

  <div class="p16-content">
    <div class="p16-header">
      <span class="page-breadcrumb">指數說明</span>
    </div>

    <div class="p16-body mt-5">
      <!-- 減糖健康指數 -->
      <div class="p16-section">
        <div class="p16-meter">
          <img src="./assets/images_v2/數值圖2.png" alt="減糖健康指數" />
          <h2 class="p16-title">減糖健康指數</h2>
        </div>
        <div class="p16-comment">
          <p class="text-indent">
            減糖健康指數是根據參與醣類代謝的關鍵腸道菌群進行分析。好菌如：艾克曼菌（Akkermansia
            muciniphila），壞菌如：沃氏嗜膽菌（Bilophila
            wadsworthia）等。此關鍵菌群決定醣類吸收代謝及熱量燃燒等生理功能。
          </p>
        </div>
      </div>

      <!-- 油切健康指數 -->
      <div class="p16-section mt-4">
        <div class="p16-meter">
          <img src="./assets/images_v2/數值圖2.png" alt="油切健康指數" />
          <h2 class="p16-title">油切健康指數</h2>
        </div>
        <div class="p16-comment">
          <p class="text-indent">
            油切健康指數是根據參與脂肪代謝的關鍵腸道菌群進行分析。好菌如：腸道羅斯拜瑞氏菌（Roseburia
            intestinalis）等，壞菌如：陰溝腸桿菌（Enterobacter
            cloacae）等。此關鍵菌群決定脂肪吸收、油脂堆積及脂肪燃燒等生理功能。
          </p>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="page-number">16</div>
  </footer>
</page>
