<page size="A4">
  <%- include('../ejs/logo.ejs') %>

  <div class="d-flex flex-column align-items-center">
    <div class="mt-8 w-100">
      <div class="col-12 page-title-container mb-5">
        <h2 class="page-title">指數說明</h2>
        <div class="parallelogram mr-2"></div>
        <div class="parallelogram mr-5"></div>
      </div>
    </div>

    <div class="page-container">
      <h4 class="py-1 px-2 pageSubtitle">免疫平衡指數</h4>
      <div class="d-flex justify-content-between mt-4">
        <div class="indexBtn-container mb-6 ml-4 p-1 border-red">
          <div class="indexBtn text-white text-center p-2">
            <span class="text-last-justify d-block">中度風險</span>
            <span>60分</span>
          </div>
        </div>
        <div class="bg-p15-1-container">
          <img src="./assets/images/17_1.png" alt="" class="indexImg" />
        </div>
      </div>
      <div class="indexComment-container d-flex justify-content-between mb-4 p-2">
        <div class="indexComment-title-container p-1">
          <span class="indexComment-title">說明</span>
        </div>
        <p class="text-indent mt-4">
          免疫平衡指數是根據參與免疫調節的關鍵菌群進行分析。好菌如:普氏棲糞桿菌(Faecalibacterium
          prausnitzii)，壞菌如:活潑瘤胃球菌 (Ruminococcus gnavus)。此關鍵菌群決定免疫調節及抑制發炎反應等生理功能。
        </p>
      </div>
      <h4 class="py-1 px-2 pageSubtitle">腸道功能指數</h4>
      <div class="d-flex justify-content-between mt-4">
        <div class="indexBtn-container mb-6 ml-4 p-1 border-red">
          <div class="indexBtn text-center p-2 border-red bg-white text-dark">
            <span class="text-last-justify d-block">高度風險</span>
            <span>19分</span>
          </div>
        </div>
        <div class="bg-p15-1-container">
          <img src="./assets/images/17_2.png" alt="" class="indexImg" />
        </div>
      </div>
      <div class="indexComment-container d-flex justify-content-between p-2">
        <div class="indexComment-title-container p-1">
          <span class="indexComment-title">說明</span>
        </div>
        <p class="text-indent mt-4">
          腸道功能指數是根據參與腸道屏障等關鍵腸道菌進行分析。好菌如:雙歧杆菌 (Bifidobacterium)等，壞菌如:艱難梭菌
          (Clostridium difficile)等。此關鍵菌群決定腸道屏障細胞再生及黏膜修復等生理功能。
        </p>
      </div>
    </div>
    <div class="bg-container bg-p15-container">
      <div class="bg-ori bg-p15"></div>
      <div class="bg-mask"></div>
    </div>
  </div>

  <footer>
    <div class="page-number">17</div>
  </footer>
</page>
