<page size="A4">
  <%- include('../ejs/title-logo.ejs') %>
  <div class="d-flex flex-column align-items-center">

    <div class=TitleboxUpper></div>
    <div class=Titlebox><p class=title-page-text>血液生化檢驗</p></div>
    <div class=TitleboxBottom></div>

  </div>

  <footer>
    <div class="page-number">18</div>
  </footer>
</page>
