<page size="A4">
  <%- include('../ejs/logo.ejs') %>

  <div class="d-flex flex-column align-items-center">
    <div class="mt-8 w-100">
      <div class="col-12 page-title-container mb-5">
        <h3 class="page-title">4.1 腦功能健康指數</h3>
        <div class="parallelogram mr-2"></div>
        <div class="parallelogram mr-5"></div>
      </div>
    </div>

    <div class="page-container">
      <div class="risk-container d-flex justify-content-around">
        <div class="indexBtn-container p-1">
          <div class="indexBtn text-center p-2 bg-white fw-bold">
            <span>8分</span>
            <span class="d-block">低度風險</span>
          </div>
        </div>

        <div class="riskImg-container d-flex align-items-center">
          <img src="./assets/images/low.png" alt="" class="riskImg mx-1" />
          <img src="./assets/images/low.png" alt="" class="riskImg mx-1" />
          <img src="./assets/images/low.png" alt="" class="riskImg mx-1" />
          <img src="./assets/images/low.png" alt="" class="riskImg mx-1" />
          <img src="./assets/images/low.png" alt="" class="riskImg mx-1" />
          <img src="./assets/images/low.png" alt="" class="riskImg mx-1" />
          <img src="./assets/images/low.png" alt="" class="riskImg mx-1" />
          <img src="./assets/images/low.png" alt="" class="riskImg mx-1" />
          <img src="./assets/images/normal.png" alt="" class="riskImg mx-1" />
          <img src="./assets/images/normal.png" alt="" class="riskImg mx-1" />
        </div>
      </div>
      <div class="w-100 d-flex justify-content-end mt-2">
        <img src="./assets/images/22.png" alt="" class="functionFigure" />
      </div>
      <h4 class="py-1 px-2 pageSubtitle"><i class="far fa-hand-point-right mr-1"></i>風險說明</h4>
      <p class="text-indent mt-4">
        腸腦軸線是消化道與腦神經系統雙向溝通的路徑。腸道微菌叢會藉由代謝產物或透過免疫細胞分泌的激素與中樞神經對話。因此腸道微菌叢失衡會直接影響大腦功能及認知行為，誘發大腦神經退化。
      </p>
      <p class="text-indent fw-bold">相關疾病為:阿茲海默症、失智症、帕金森氏症等。</p>

      <div class="bacteria-container mt-4 d-flex flex-column">
        <div class="bacteriaTitle-container d-flex justify-content-center">
          <h4 class="py-1 pr-2 pl-6 goodBacteriaTitle text-center">關鍵好菌</h4>
          <h4 class="py-1 pr-2 pl-6 badBacteriaTitle text-center">關鍵壞菌</h4>
        </div>

        <div class="bacteriaList-container d-flex justify-content-between">
          <ul class="goodBacteriaList col-6 p-2 mt-3">
            <li class="list-item text-end">
              <span class="d-block">艾克曼嗜黏蛋白菌 </span>
              <span class="d-block">(Akkermansia muciniphila) </span>
              <span class="d-block">促進腸道粘膜免疫力與障蔽功能、調節代謝與菌叢平衡。 </span>

              <div class="bacteriaScore-container text-center">
                <span class="bacteriaScore">偏低</span>
              </div>
            </li>
            <li class="list-item text-end">
              <span class="d-block">普氏棲糞桿菌 </span>
              <span class="d-block">(Faecalibacterium prausnitzii) </span>
              <span class="d-block">促進短鏈脂肪酸生成、提供腸道細胞能量，抑制壞菌。 </span>
              <div class="bacteriaScore-container text-center">
                <span class="bacteriaScore">一般</span>
              </div>
            </li>
            <li class="list-item text-end">
              <span class="d-block">雙叉桿菌屬 </span>
              <span class="d-block">(Bifidobacterium) </span>
              <span class="d-block">促進調節性T細胞功能、腸道免疫平衡與減少脂肪堆積。 </span>
              <div class="bacteriaScore-container text-center">
                <span class="bacteriaScore">一般</span>
              </div>
            </li>
          </ul>
          <ul class="badBacteriaList col-6 p-2 mt-3">
            <li class="list-item text-start">
              <span class="d-block">牙齦卟啉菌 </span>
              <span class="d-block">(Akkermansia muciniphila) </span>
              <span class="d-block">牙周病菌，產生毒性物質使神經病變，造成神經退化。 </span>
              <div class="bacteriaScore-container text-center">
                <span class="bacteriaScore">偏低</span>
              </div>
            </li>
            <li class="list-item text-start">
              <span class="d-block">克雷伯氏菌屬 </span>
              <span class="d-block">(Akkermansia muciniphila) </span>
              <span class="d-block">產生內毒素，造成全身慢性發炎。 </span>
              <div class="bacteriaScore-container text-center">
                <span class="bacteriaScore">偏低</span>
              </div>
            </li>
            <li class="list-item text-start">
              <span class="d-block">加德納菌屬 </span>
              <span class="d-block">(Gardnerella) </span>
              <span class="d-block">神經退化疾病關鍵菌。 </span>
              <div class="bacteriaScore-container text-center">
                <span class="bacteriaScore">一般</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="page-number">22</div>
  </footer>
</page>
