<page size="A4">
  <%- include('../ejs/logo.ejs') %>

  <div class="d-flex flex-column align-items-center">
    <div class="mt-8 w-100">
      <div class="col-12 page-title-container mb-5">
        <h3 class="page-title">4.3 肺功能健康指數</h3>
        <div class="parallelogram mr-2"></div>
        <div class="parallelogram mr-5"></div>
      </div>
    </div>

    <div class="page-container">
      <div class="risk-container d-flex justify-content-around">
        <div class="indexBtn-container p-1">
          <div class="indexBtn text-center p-2 bg-white fw-bold">
            <span>4 分</span>
            <span class="d-block">中度風險</span>
          </div>
        </div>

        <div class="riskImg-container d-flex align-items-center">
          <img src="./assets/images/medium.png" alt="" class="riskImg mx-1" />
          <img src="./assets/images/medium.png" alt="" class="riskImg mx-1" />
          <img src="./assets/images/medium.png" alt="" class="riskImg mx-1" />
          <img src="./assets/images/medium.png" alt="" class="riskImg mx-1" />
          <img src="./assets/images/normal.png" alt="" class="riskImg mx-1" />
          <img src="./assets/images/normal.png" alt="" class="riskImg mx-1" />
          <img src="./assets/images/normal.png" alt="" class="riskImg mx-1" />
          <img src="./assets/images/normal.png" alt="" class="riskImg mx-1" />
          <img src="./assets/images/normal.png" alt="" class="riskImg mx-1" />
          <img src="./assets/images/normal.png" alt="" class="riskImg mx-1" />
        </div>
      </div>
      <div class="w-100 d-flex justify-content-end mt-2">
        <img src="./assets/images/22.png" alt="" class="functionFigure" />
      </div>
      <h4 class="py-1 px-2 pageSubtitle"><i class="far fa-hand-point-right mr-1"></i>風險說明</h4>
      <p class="text-indent mt-4">
        腸肺軸線是消化道與肺臟雙向溝通的路徑。腸道菌叢失衡，導致壞菌毒素、免疫細胞與刺激發炎的因子經由淋巴系統進入肺部，削弱肺部抵禦外來病原菌的能力，並破壞肺臟的免疫穩定狀態，誘發肺部相關疾病。
      </p>
      <p class="text-indent fw-bold text-dark">相關疾病為:病毒性肺炎(COVID-19) 、過敏、哮喘、慢性阻塞性肺疾病等。</p>

      <div class="bacteria-container mt-4 d-flex flex-column">
        <div class="bacteriaTitle-container d-flex justify-content-center">
          <h4 class="py-1 pr-2 pl-6 goodBacteriaTitle text-center">關鍵好菌</h4>
          <h4 class="py-1 pr-2 pl-6 badBacteriaTitle text-center">關鍵壞菌</h4>
        </div>

        <div class="bacteriaList-container d-flex justify-content-between">
          <ul class="goodBacteriaList col-6 p-2 mt-3">
            <li class="list-item text-end">
              <span class="d-block">普氏棲糞桿菌 </span>
              <span class="d-block font-italic">(Faecalibacterium prausnitzii) </span>
              <span class="d-block">促進短鏈脂肪酸生成、提供腸道細胞能量，抑制壞菌。 </span>

              <div class="bacteriaScore-container text-center">
                <span class="bacteriaScore">一般</span>
              </div>
            </li>
            <li class="list-item text-end">
              <span class="d-block">腸道羅斯拜瑞氏菌 </span>
              <span class="d-block font-italic">(Roseburia intestinalis) </span>
              <span class="d-block">促進調節性T細胞功能、腸道免疫平衡與減少脂肪堆積。 </span>
              <div class="bacteriaScore-container text-center">
                <span class="bacteriaScore">一般</span>
              </div>
            </li>
            <li class="list-item text-end">
              <span class="d-block">長雙叉桿菌 </span>
              <span class="d-block font-italic">(Bifidobacterium longum) </span>
              <span class="d-block">促進調節性T細胞功能、腸道免疫平衡與減少脂肪堆積。 </span>
              <div class="bacteriaScore-container text-center">
                <span class="bacteriaScore">一般</span>
              </div>
            </li>
          </ul>
          <ul class="badBacteriaList col-6 p-2 mt-3">
            <li class="list-item text-start">
              <span class="d-block">阿托波氏菌屬 </span>
              <span class="d-block font-italic">(Atopobium) </span>
              <span class="d-block">過敏性呼吸道疾病指標。 </span>
              <div class="bacteriaScore-container text-center">
                <span class="bacteriaScore">偏高</span>
              </div>
            </li>
            <li class="list-item text-start">
              <span class="d-block">肺炎鏈球菌 </span>
              <span class="d-block font-italic">(Streptococcus pneumoniae) </span>
              <span class="d-block"> 肺部感染病原菌。 </span>
              <div class="bacteriaScore-container text-center">
                <span class="bacteriaScore">一般</span>
              </div>
            </li>
            <li class="list-item text-start">
              <span class="d-block">流感嗜血桿菌 </span>
              <span class="d-block font-italic">(Haemophilus influenza) </span>
              <span class="d-block">呼吸道感染病原菌。 </span>
              <div class="bacteriaScore-container text-center">
                <span class="bacteriaScore">一般</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="page-number">24</div>
  </footer>
</page>
