<page size="A4">
  <%- include('../ejs/logo.ejs') %>

  <div class="d-flex flex-column align-items-center">
    <div class="mt-8 w-100">
      <div class="col-12 page-title-container mb-5">
        <h3 class="page-title">4.5 腎功能健康指數</h3>
        <div class="parallelogram mr-2"></div>
        <div class="parallelogram mr-5"></div>
      </div>
    </div>

    <div class="page-container">
      <div class="risk-container d-flex justify-content-around">
        <div class="indexBtn-container p-1">
          <div class="indexBtn text-center p-2 bg-white fw-bold">
            <span>5 分</span>
            <span class="d-block">中度風險</span>
          </div>
        </div>

        <div class="riskImg-container d-flex align-items-center">
          <img src="./assets/images/medium.png" alt="" class="riskImg mx-1" />
          <img src="./assets/images/medium.png" alt="" class="riskImg mx-1" />
          <img src="./assets/images/medium.png" alt="" class="riskImg mx-1" />
          <img src="./assets/images/medium.png" alt="" class="riskImg mx-1" />
          <img src="./assets/images/medium.png" alt="" class="riskImg mx-1" />
          <img src="./assets/images/normal.png" alt="" class="riskImg mx-1" />
          <img src="./assets/images/normal.png" alt="" class="riskImg mx-1" />
          <img src="./assets/images/normal.png" alt="" class="riskImg mx-1" />
          <img src="./assets/images/normal.png" alt="" class="riskImg mx-1" />
          <img src="./assets/images/normal.png" alt="" class="riskImg mx-1" />
        </div>
      </div>
      <div class="w-100 d-flex justify-content-end mt-2">
        <img src="./assets/images/22.png" alt="" class="functionFigure" />
      </div>
      <h4 class="py-1 px-2 pageSubtitle"><i class="far fa-hand-point-right mr-1"></i>風險說明</h4>
      <div class="riskExplain-container">
        <p class="text-indent mt-4">
          飲食中蛋白質經特定腸道菌叢分解後，經由肝臟代謝產生尿毒素，包含硫酸吲哚酚及對甲酚硫。兩者皆與慢性腎臟病之病程發展有高度相關。因此當腸道菌叢失衡所衍生之毒素經由腸壁上皮細胞吸收進入血液循環，亦可能增加腎臟負擔。
        </p>
        <p class="text-indent fw-bold text-dark">相關疾病為: 急性腎損傷、高血壓、腎結石、腎功能不佳、腎小球發炎。</p>
      </div>

      <div class="bacteria-container mt-4 d-flex flex-column">
        <div class="bacteriaTitle-container d-flex justify-content-center">
          <h4 class="py-1 pr-2 pl-6 goodBacteriaTitle text-center">關鍵好菌</h4>
          <h4 class="py-1 pr-2 pl-6 badBacteriaTitle text-center">關鍵壞菌</h4>
        </div>

        <div class="bacteriaList-container d-flex justify-content-between">
          <ul class="goodBacteriaList col-6 p-2 mt-3">
            <li class="list-item text-end">
              <span class="d-block">艾克曼嗜黏蛋白菌 </span>
              <span class="d-block font-italic">(Akkermansia muciniphila) </span>
              <span class="d-block">促進腸道粘膜免疫力與障蔽功能、調節代謝與菌叢平衡。 </span>

              <div class="bacteriaScore-container text-center">
                <span class="bacteriaScore">偏低</span>
              </div>
            </li>
            <li class="list-item text-end">
              <span class="d-block">雙叉桿菌屬 </span>
              <span class="d-block font-italic">(Bifidobacterium) </span>
              <span class="d-block">促進調節性T細胞功能、腸道免疫平衡與減少脂肪堆積。 </span>
              <div class="bacteriaScore-container text-center">
                <span class="bacteriaScore">一般</span>
              </div>
            </li>
            <li class="list-item text-end">
              <span class="d-block">真桿菌屬 </span>
              <span class="d-block font-italic">(Eubacterium) </span>
              <span class="d-block">增強腸粘膜屏障功能。 </span>
              <div class="bacteriaScore-container text-center">
                <span class="bacteriaScore">一般</span>
              </div>
            </li>
          </ul>
          <ul class="badBacteriaList col-6 p-2 mt-3">
            <li class="list-item text-start">
              <span class="d-block">扭鏈瘤胃球菌 </span>
              <span class="d-block font-italic">(Ruminococcus torques) </span>
              <span class="d-block">腸道失衡關鍵菌，使腸黏膜屏障功能降低。 </span>
              <div class="bacteriaScore-container text-center">
                <span class="bacteriaScore">偏高</span>
              </div>
            </li>
            <li class="list-item text-start">
              <span class="d-block">活潑瘤胃球菌 </span>
              <span class="d-block font-italic">(Ruminococcus gnavus) </span>
              <span class="d-block">腸道炎症關鍵菌，導致腸道損傷與發炎。 </span>
              <div class="bacteriaScore-container text-center">
                <span class="bacteriaScore">一般</span>
              </div>
            </li>
            <li class="list-item text-start">
              <span class="d-block">產甲酸草酸桿菌 </span>
              <span class="d-block font-italic">(Oxalobacter formigenes) </span>
              <span class="d-block">導致腎結石之關鍵壞菌。 </span>
              <div class="bacteriaScore-container text-center">
                <span class="bacteriaScore">一般</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="page-number">26</div>
  </footer>
</page>
