<page size="A4">
  <%- include('../ejs/logo.ejs') %>

  <div class="d-flex flex-column align-items-center">
    <div class="mt-8 w-100">
      <div class="col-12 page-title-container mb-5">
        <h3 class="page-title">4.8 免疫功能健康指數</h3>
        <div class="parallelogram mr-2"></div>
        <div class="parallelogram mr-5"></div>
      </div>
    </div>

    <div class="page-container">
      <div class="risk-container d-flex justify-content-around">
        <div class="indexBtn-container p-1">
          <div class="indexBtn text-center p-2 bg-white fw-bold">
            <span>7 分</span>
            <span class="d-block">中度風險</span>
          </div>
        </div>

        <div class="riskImg-container d-flex align-items-center">
          <img src="./assets/images/medium.png" alt="" class="riskImg mx-1" />
          <img src="./assets/images/medium.png" alt="" class="riskImg mx-1" />
          <img src="./assets/images/medium.png" alt="" class="riskImg mx-1" />
          <img src="./assets/images/medium.png" alt="" class="riskImg mx-1" />
          <img src="./assets/images/medium.png" alt="" class="riskImg mx-1" />
          <img src="./assets/images/medium.png" alt="" class="riskImg mx-1" />
          <img src="./assets/images/medium.png" alt="" class="riskImg mx-1" />
          <img src="./assets/images/normal.png" alt="" class="riskImg mx-1" />
          <img src="./assets/images/normal.png" alt="" class="riskImg mx-1" />
          <img src="./assets/images/normal.png" alt="" class="riskImg mx-1" />
        </div>
      </div>
      <div class="w-100 d-flex justify-content-end mt-2">
        <img src="./assets/images/22.png" alt="" class="functionFigure" />
      </div>
      <h4 class="py-1 px-2 pageSubtitle"><i class="far fa-hand-point-right mr-1"></i>風險說明</h4>
      <div class="riskExplain-container">
        <p class="text-indent mt-4">
          腸道有廣大的神經網絡，被稱為「第二大腦」。全身70%的免疫細胞存在於腸道，與腸道菌叢交互作用，構築健全的腸道免疫。腸道菌叢所分泌的代謝物及調控的免疫細胞會藉由神經系統、淋巴系統及內分泌系統影響全身的免疫。因此腸道菌叢失衡時，細菌會藉由發炎因子或有害的代謝物引發免疫失調。
        </p>
        <p class="text-indent fw-bold text-dark">相關疾病：氣喘、過敏、類風濕性關節炎等。</p>
      </div>

      <div class="bacteria-container mt-4 d-flex flex-column">
        <div class="bacteriaTitle-container d-flex justify-content-center">
          <h4 class="py-1 pr-2 pl-6 goodBacteriaTitle text-center">關鍵好菌</h4>
          <h4 class="py-1 pr-2 pl-6 badBacteriaTitle text-center">關鍵壞菌</h4>
        </div>

        <div class="bacteriaList-container d-flex justify-content-between">
          <ul class="goodBacteriaList col-6 p-2 mt-3">
            <li class="list-item text-end">
              <span class="d-block">雙叉桿菌屬 </span>
              <span class="d-block font-italic">(Bifidobacterium) </span>
              <span class="d-block">促進調節性T細胞功能、腸道免疫平衡與減少脂肪堆積。 </span>
              <div class="bacteriaScore-container text-center">
                <span class="bacteriaScore">一般</span>
              </div>
            </li>
            <li class="list-item text-end">
              <span class="d-block">腸道羅斯拜瑞氏菌 </span>
              <span class="d-block font-italic">(Roseburia intestinalis) </span>
              <span class="d-block">促進調節性T細胞功能、腸道免疫平衡與減少脂肪堆積。 </span>
              <div class="bacteriaScore-container text-center">
                <span class="bacteriaScore">一般</span>
              </div>
            </li>
            <li class="list-item text-end">
              <span class="d-block">柔嫩梭菌 </span>
              <span class="d-block font-italic">(Clostridium leptum) </span>
              <span class="d-block">促進短鏈脂肪酸生成、提供腸道細胞能量，抑制壞菌。 </span>
              <div class="bacteriaScore-container text-center">
                <span class="bacteriaScore">一般</span>
              </div>
            </li>
          </ul>
          <ul class="badBacteriaList col-6 p-2 mt-3">
            <li class="list-item text-start">
              <span class="d-block">金黃色葡萄球菌 </span>
              <span class="d-block font-italic">(Staphylococcus aureus) </span>
              <span class="d-block">伺機性感染菌，易造成軟組織發炎。 </span>
              <div class="bacteriaScore-container text-center">
                <span class="bacteriaScore">一般</span>
              </div>
            </li>
            <li class="list-item text-start">
              <span class="d-block">埃格特菌屬 </span>
              <span class="d-block font-italic">(Eggerthella) </span>
              <span class="d-block">製造三甲胺，使血管病變、血脂上升及血管阻塞。 </span>
              <div class="bacteriaScore-container text-center">
                <span class="bacteriaScore">一般</span>
              </div>
            </li>
            <li class="list-item text-start">
              <span class="d-block">柯林斯菌屬 </span>
              <span class="d-block font-italic">(Collinsella) </span>
              <span class="d-block">製造三甲胺，使血管病變、血脂上升及血管阻塞。 </span>
              <div class="bacteriaScore-container text-center">
                <span class="bacteriaScore">一般</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="page-number">29</div>
  </footer>
</page>
