<page size="A4">
  <%- include('../ejs/logo.ejs') %>

  <div class="d-flex flex-column align-items-center h-100">
    <div class="mt-8 w-100">
      <div class="col-10 page-title-container mb-5">
        <div class="page-container">
          <h2 class="page-title">客戶訊息</h2>
          <div class="parallelogram mr-8"></div>
          <div class="parallelogram mr-3"></div>
          <div class="triangle"></div>
        </div>
      </div>
    </div>
    <div class="page-container d-flex w-100 justify-content-between">
      <div class="user_profile col-5">
        <h3 class="mb-4">個人資料</h3>
        <ul class="profile-list">
          <li class="list-item d-flex justify-content-between">
            <span class="col-5">姓名</span>
            <span class="field col-7"></span>
          </li>
          <li class="list-item d-flex justify-content-between">
            <span class="col-5">年齡</span>
            <span class="field col-7"></span>
          </li>
          <li class="list-item d-flex justify-content-between">
            <span class="col-5">性別</span>
            <span class="field col-7"></span>
          </li>
          <li class="list-item d-flex justify-content-between">
            <span class="col-5">身分證字號</span>
            <span class="field col-7"></span>
          </li>
        </ul>
      </div>

      <div class="sample_profile col-7">
        <h3>檢測資料</h3>
      </div>
    </div>

    <div class="bg-container">
      <div class="bg-ori bg-p3"></div>
      <div class="bg-mask"></div>
    </div>
  </div>

  <footer>
    <div class="page-number">3</div>
  </footer>
</page>
