<page size="A4">
  <%- include('../ejs/logo.ejs') %>

  <div class="d-flex flex-column align-items-center">
    <div class="mt-8 w-100">
      <div class="col-12 page-title-container mb-5">
        <h3 class="page-title">4.9 肥胖健康指數</h3>
        <div class="parallelogram mr-2"></div>
        <div class="parallelogram mr-5"></div>
      </div>
    </div>

    <div class="page-container">
      <div class="risk-container d-flex justify-content-around">
        <div class="indexBtn-container p-1">
          <div class="indexBtn text-center p-2 bg-white fw-bold">
            <span>5 分</span>
            <span class="d-block">中度風險</span>
          </div>
        </div>

        <div class="riskImg-container d-flex align-items-center">
          <img src="./assets/images/medium.png" alt="" class="riskImg mx-1" />
          <img src="./assets/images/medium.png" alt="" class="riskImg mx-1" />
          <img src="./assets/images/medium.png" alt="" class="riskImg mx-1" />
          <img src="./assets/images/medium.png" alt="" class="riskImg mx-1" />
          <img src="./assets/images/medium.png" alt="" class="riskImg mx-1" />
          <img src="./assets/images/normal.png" alt="" class="riskImg mx-1" />
          <img src="./assets/images/normal.png" alt="" class="riskImg mx-1" />
          <img src="./assets/images/normal.png" alt="" class="riskImg mx-1" />
          <img src="./assets/images/normal.png" alt="" class="riskImg mx-1" />
          <img src="./assets/images/normal.png" alt="" class="riskImg mx-1" />
        </div>
      </div>
      <div class="w-100 d-flex justify-content-end mt-2">
        <img src="./assets/images/22.png" alt="" class="functionFigure" />
      </div>
      <h4 class="py-1 px-2 pageSubtitle"><i class="far fa-hand-point-right mr-1"></i>風險說明</h4>
      <p class="text-indent mt-4">
        蔬菜、水果、全穀物富含膳食纖維，腸道菌叢可代謝膳食纖維成短鏈脂肪酸。短鏈脂肪酸除了提供腸道細胞養分外，能增加棕色脂肪細胞，加速能量代謝，並促進腸道激素(腸泌素)釋放，穩定血糖。高脂高糖飲食影響腸道菌叢生態，導致血液及脂肪組織發炎物質升高，促使肥胖相關細菌繁衍，影響體重。
      </p>
      <p class="text-indent fw-bold text-dark">相關疾病：高血壓、第二型糖尿病、脂肪肝、動脈硬化等。</p>

      <div class="bacteria-container mt-4 d-flex flex-column">
        <div class="bacteriaTitle-container d-flex justify-content-center">
          <h4 class="py-1 pr-2 pl-6 goodBacteriaTitle text-center">關鍵好菌</h4>
          <h4 class="py-1 pr-2 pl-6 badBacteriaTitle text-center">關鍵壞菌</h4>
        </div>

        <div class="bacteriaList-container d-flex justify-content-between">
          <ul class="goodBacteriaList col-6 p-2 mt-3">
            <li class="list-item text-end">
              <span class="d-block">艾克曼嗜黏蛋白菌 </span>
              <span class="d-block font-italic">(Akkermansia muciniphila) </span>
              <span class="d-block">促進腸道粘膜免疫力與障蔽功能、調節代謝與菌叢平衡。 </span>

              <div class="bacteriaScore-container text-center">
                <span class="bacteriaScore">偏低</span>
              </div>
            </li>
            <li class="list-item text-end">
              <span class="d-block">腸道羅斯拜瑞氏菌 </span>
              <span class="d-block font-italic">(Roseburia intestinalis) </span>
              <span class="d-block">促進調節性T細胞功能、腸道免疫平衡與減少脂肪堆積。 </span>
              <div class="bacteriaScore-container text-center">
                <span class="bacteriaScore">一般</span>
              </div>
            </li>
            <li class="list-item text-end">
              <span class="d-block">長雙叉桿菌 </span>
              <span class="d-block font-italic">(Bifidobacterium longum) </span>
              <span class="d-block">促進調節性T細胞功能、腸道免疫平衡與減少脂肪堆積。 </span>
              <div class="bacteriaScore-container text-center">
                <span class="bacteriaScore">一般</span>
              </div>
            </li>
          </ul>
          <ul class="badBacteriaList col-6 p-2 mt-3">
            <li class="list-item text-start">
              <span class="d-block">普通擬桿菌 </span>
              <span class="d-block font-italic">(Bacteroides vulgatus) </span>
              <span class="d-block">肝臟纖維化上升指標菌，膽汁酸代謝異常及造成發炎。 </span>
              <div class="bacteriaScore-container text-center">
                <span class="bacteriaScore">偏低</span>
              </div>
            </li>
            <li class="list-item text-start">
              <span class="d-block">閃爍梭菌 </span>
              <span class="d-block font-italic">(Clostridium scindens) </span>
              <span class="d-block">高脂飲食導致此菌增生，造成肝臟發炎與纖維化。 </span>
              <div class="bacteriaScore-container text-center">
                <span class="bacteriaScore">一般</span>
              </div>
            </li>
            <li class="list-item text-start">
              <span class="d-block">污泥梭菌 </span>
              <span class="d-block font-italic">(Clostridium sordellii) </span>
              <span class="d-block">高脂飲食導致此菌增生，造成肝臟發炎與纖維化。 </span>
              <div class="bacteriaScore-container text-center">
                <span class="bacteriaScore">一般</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="page-number">30</div>
  </footer>
</page>
