<page size="A4">
  <div class="page-bg-v2">
    <img src="./assets/images_v2/2內頁.jpg" alt="" />
  </div>

  <div class="page-tab-v2 page-tab-v2-spacing">附錄</div>

  <div class="p32-content">
    <div class="p32-header">
      <span class="page-breadcrumb">5.1 腸道微生態</span>
    </div>

    <div class="p32-body mt-5">
      <div class="p32-text-col">
        <p class="p32-text text-indent">
          人體腸道中共生著大量細菌族群，約占全身微生物總量的99%。腸道內蘊含超過兩千種不同細菌，攜帶約三百萬種基因，數量甚至超過百兆，甚至是人體自身細胞總數的十倍。這些種類豐富、型態各異的細菌群體，共同構成了複雜而精密的「腸道微生態系統」。
        </p>

        <p class="p32-text text-indent">
          同時腸道彙集了人體約70%的免疫細胞，是體內最大的免疫器官。腸道微生態中的菌群，除了對身體有益的好菌之外，也包含可能致病的壞菌。腸道免疫系統透過與這些菌叢之間的「互動與訓練」，來維持腸道平衡、促進整體健康。目前文獻也進一步指出，腸道不同菌叢之間不斷的「互動與訓練」，來維持腸道內的健康平衡。
        </p>

        <p class="p32-text text-indent">
          此外，腸道內佈滿密集的神經網絡，能將訊息傳遞至中樞神經系統。近年研究發現，腸道微生態與大腦功能之間存在密切關聯，許多研究亦顯示與憂鬱症、焦慮症、自閉症及慢性疲勞症候群等疾病有高度相關。
        </p>

        <p class="p32-text text-indent">
          國際研究亦指出，腸道微生態嚴重失衡時，可能引發多種疾病，包括代謝功能異常、免疫調節障礙及慢性炎症等。因此，維護腸道微生態的平衡健康，對整體身體健康至關重要，建議定期進行腸道菌相檢測，掌握並改善您的個人腸道健康情形，享受輕鬆、自在且健康的生活。
        </p>
      </div>
    </div>
  </div>

  <footer>
    <div class="page-number">32</div>
  </footer>
</page>
