<page size="A4">
  <div class="page-bg-v2">
    <img src="./assets/images_v2/2內頁.jpg" alt="" />
  </div>

  <div class="page-tab-v2 page-tab-v2-spacing">附錄</div>

  <div class="p34-content">
    <div class="p34-header">
      <span class="page-breadcrumb">5.3 血液生化檢驗臨床意義</span>
    </div>

    <div class="p34-body mt-5">
      <ol class="p34-list">
        <li>
          <span class="p34-label">免疫相關：</span
          >血液常規檢測可說明小細胞性貧血、巨幼細胞貧血、惡性貧血、溶血性貧血、白血病、粒細胞減少、血小板減少、淋巴細胞減少，感染等。
        </li>
        <li>
          CRP指數可說明組織損傷、感染、腫瘤、心肌梗塞及一系列急慢性炎症性疾病，如風濕性關節炎、全身性血管炎、多肌痛風濕病。
        </li>
        <li>
          <span class="p34-label">血脂：</span
          >三甘油脂和LDL升高是導致高血壓、冠心病、心肌梗塞、動脈粥樣硬化的高度危險因素。HDL對血管有保護作用，含量低則易患血管硬化。
        </li>
        <li><span class="p34-label">血糖：</span>說明是否有低血糖、糖尿病。</li>
        <li>
          <span class="p34-label">肝：</span
          >肝細胞受損最敏感的指標，升高可提示肝膽系統疾病：如急性傳染性肝炎、中毒性肝炎、藥物中毒性肝炎等。
        </li>
        <li><span class="p34-label">腎：</span>可說明有無腎功能損害。</li>
      </ol>
    </div>
  </div>

  <footer>
    <div class="page-number">34</div>
  </footer>
</page>
