<page size="A4">
  <%- include('../ejs/logo.ejs') %>

  <div class="d-flex flex-column align-items-center">
    <div class="mt-8 w-100">
      <div class="col-9 page-title-container mb-5">
        <h3 class="page-title">5.2 如何檢測您的腸生態</h3>
        <div class="parallelogram mr-0"></div>
        <div class="parallelogram mr-5"></div>
      </div>
    </div>

    <div class="page-container text-secondary">
      <p class="text-indent">
        只要採集您所提供的少量糞便檢體，我們就能夠以最高端的分子生物技術，從糞便中純化出微量腸道微生物的DNA。這些DNA上即帶有寶貴、且獨一無二，專屬您的腸道生態資訊。中天生技進一步將以最先進的基因檢測技術『次世代定序』，如同掃描條碼般，系統、快速且精準地掃描並分析您腸道中微生物的DNA，以獲得微生態菌群種類及數量等重要資訊。
      </p>
      <br />
      <br />
      <p class="text-indent">
        而中天生技在獲得專屬您的菌群資訊後，透過您的血液生化檢驗結果，以及飲食、生活習慣、個人健康資訊一同進行大數據分析，就能針對您的腸生態健康情形，提供最適合您的『腸生態健康調理』方案。
      </p>

      <div class="image-container d-flex justify-content-center w-100 mt-4">
        <img src="./assets/images/34.png" alt="" class="bg-p34" />
      </div>
    </div>
  </div>

  <footer>
    <div class="page-number">34</div>
  </footer>
</page>
