<page size="A4">
  <%- include('../ejs/logo.ejs') %>

  <div class="d-flex flex-column align-items-center">
    <div class="mt-8 w-100">
      <div class="col-9 page-title-container mb-5">
        <h3 class="page-title">5.3 血液生化檢驗臨床意義</h3>
        <div class="parallelogram mr-0"></div>
        <div class="parallelogram mr-5"></div>
      </div>
    </div>

    <div class="page-container">
      <ol class="meaning-list pl-5">
        <li class="list-item">
          免疫相關:
          血液常規檢測可說明小細胞性貧血、巨幼細胞貧血、惡性貧血、溶血性貧血、白血病、粒細胞減少、血小板減少、淋巴細胞減少，感染等。
        </li>
        <li class="list-item">
          CRP指數可說明組織損傷、感染、腫瘤、心肌梗塞及一系列急慢性炎症性疾病，如風濕性關節炎、全身性血管炎、多肌痛風濕病。
        </li>
        <li class="list-item">
          血脂:
          三甘油脂和LDL升高是導致高血壓、冠心病、心肌梗塞、動脈粥樣硬化的高度危險因素。HDL對血管有保護作用，含量低則易患血管硬化。
        </li>
        <li class="list-item">血糖: 說明是否有低血糖、糖尿病。</li>
        <li class="list-item">
          肝: 肝細胞受損最敏感的指標，升高可提示肝膽系統疾病: 如急性傳染性肝炎、中毒性肝炎、藥物中毒性肝炎等。
        </li>
        <li class="list-item">腎: 可說明有無腎功能損害。</li>
      </ol>
    </div>

    <div class="bg-container">
      <div class="bg-ori bg-p35"></div>
      <div class="bg-mask"></div>
    </div>
  </div>

  <footer>
    <div class="page-number">35</div>
  </footer>
</page>
