<page size="A4">
  <div class="page-bg-v2">
    <img src="./assets/images_v2/2內頁.jpg" alt="" />
  </div>

  <div class="page-tab-v2 page-tab-v2-spacing">附錄</div>

  <div class="p36-content">
    <div class="p36-header">
      <!-- <span class="page-breadcrumb">免責聲明暨評估說明</span> -->
    </div>

    <div class="p36-body mt-5">
      <h2 class="p36-title">免責聲明暨評估說明</h2>
      <ol class="p36-list">
        <li>
          本評估是透過採集1g以內的糞便，萃取腸道內細菌的DNA，利用次世代定序法進行高通量基因定序，再使用生物統計法計算細菌菌種、菌量、比值等，針對相關指引及醫療相關文獻之數值，進行評估。
        </li>
        <li>本評估為非侵入性的招募方式，可能受招募入組不能避免的風險。</li>
        <li>並非所有的細菌種類、含量與身體內所有功能均可透過此健康評估預測。</li>
        <li>
          本健康評估之受測者已知悉並瞭解若受評估人有腹瀉、糞便太稀、糞便狀況不理想可能不符合要求，可能需要重新進行採便後，以期相關評估結果能趨近於統計數據。
        </li>
        <li>
          本健康評估之受測者已知悉並瞭解若受評估人有重複的藥物因素，可能影響菌群結果，採樣前一周建議不使用可能影響菌群的藥物，包括停止服用益生菌。
        </li>
        <li>
          本健康評估之受測者已知悉並瞭解若在感染疾病期間進行本健康評估，建議先完成治療後再進行評估，以免影響結果準確性，受測者已完全了解。
        </li>
        <li>
          本健康評估之受測者已知悉並瞭解健康評估結果僅供個人參考，不作為診斷、治療疾病之依據，如有健康疑慮，請諮詢醫療專業人員，並於具備資質之單位進行檢測，以利後續採樣作業流程進行。
        </li>
      </ol>
    </div>
  </div>

  <footer>
    <div class="page-number">36</div>
  </footer>
</page>
