<page size="A4">
  <%- include('../ejs/logo.ejs') %>

  <div class="d-flex flex-column align-items-center">
    <div class="page-container">
      <h2 class="guide-title mb-5 text-center">免責聲明暨評估說明</h2>
      <ol class="duty-list pl-5">
        <li class="list-item">
          本評估是透過採集1g以內的糞便，萃取糞便中腸道內細菌的DNA，利用次世代定序法進行高通量基因定序，再使用生物資訊法計算細菌數量，針對細菌菌種、含量、比例、多樣性及身體功能進行健康評估。
        </li>
        <li class="list-item">本評估為非侵入性的採檢方式，可避免侵入性採檢所產生的風險。</li>
        <li class="list-item">並非所有的細菌菌種、含量與身體內所有功能均可透過本健康評估偵測。</li>
        <li class="list-item">
          本健康評估之受測者已知悉並瞭解若受評估人有腹瀉、糞便太稀、糞便呈現水狀或其他不可預料因素等，將會影響健康評估結果。
        </li>
        <li class="list-item">
          本健康評估之受測者已知悉並瞭解若因腹瀉、服用抗生素或檢體品質不符合要求，可能需要重新進行糞便取樣，以期個案評估結果能趨近於統計數據。
        </li>
        <li class="list-item">
          本健康評估之受測者已知悉進行本健康評估，並向販售單位提出問題和疑慮，且獲得說明（包括但不限於瞭解進行本健康評估的必要性、步驟、風險、成功率之相關資訊及選擇其他檢測之風險）。受測者已充分了解上述說明、聲明與切結，並同意自費進行本檢測。受測者並同意進行本健康評估結果需視乎不同身體狀況、年齡及生活習慣等因素或有所不同。
        </li>
        <li class="list-item">
          本健康評估之受測者同意並切結本健康評估只供參考，不得採用此健康評估做為自身診斷、治療或預防任何疾病之用。如受測者逕行採用此健康評估做為自身診斷、治療或預防任何疾病之用，不得將任何醫學結果歸責於負責操作檢測之單位，及對負責操作檢測之單位進行求償。
        </li>
      </ol>
    </div>
  </div>

  <footer>
    <div class="page-number">37</div>
  </footer>
</page>
