<page size="A4" class="bg-p7">
  <%- include('../ejs/logo.ejs') %>

  <div class="d-flex flex-column align-items-center w-100">
    <div class="mt-8 w-100 zi-1">
      <div class="col-12 page-title-container mb-5">
        <h3 class="page-title">1.2 腸道健康指引</h3>
        <div class="parallelogram mr-2"></div>
        <div class="parallelogram mr-5"></div>
      </div>
    </div>

    <!-- <div class="mb-5 page-container "> -->
    <div class="healthGuide-container">
      <p class="fw-bold text-indent">
        在您這次的腸道菌相檢測結果，首先在六大核心指數中，<span class="text-gold"
          >油切健康指數偏低，表示您體內調節脂肪能力、蛋白質代謝能力較弱，建議減少飲食中肉類的比例；腸道功能指數偏低，表示您腸道防護能力及細胞再生能力較弱，建議適量服用腸道保健食品，改善腸道功能。
        </span>
      </p>
      <br />
      <p class="fw-bold text-indent">
        其次，在身體功能評估方面<span class="text-gold"
          >心血管功能風險偏高，表示您表示您可能攝取過量的脂肪、膽固醇，可能血糖指數也較高，須注意改善生活與飲食方式；腸功能風險偏高，表示您可能飲食中多肉及糖分，使得腸道保護能力下降，建議可減少高負擔飲食，增加纖維及蔬果的攝取。
        </span>
      </p>
      <br />
      <p class="fw-bold text-indent">
        近幾年來的國際文獻均指出，腸道菌與許多疾病有著高度的關聯性，因此定期的檢測腸道菌相變化，並透過中天生物科技所研發的<span
          class="text-gold"
          >〝中天BS腸生態〞來協助調整您的腸道微生態，並使腸道益菌生長及丁酸增加，有效降低空腹血糖，</span
        >使您的身體常保青春活力。
      </p>
    </div>
    <!-- </div> -->
  </div>

  <footer>
    <div class="page-number">7</div>
  </footer>
</page>
