<page size="A4" class="bg-p7">
  <%- include('../ejs/logo.ejs') %>

  <div class="d-flex flex-column align-items-center">
    <div class="mt-8 w-100">
      <div class="col-10 page-title-container mb-3">
        <div class="page-container">
          <h2 class="page-title">1.2 腸道健康指引</h2>
          <div class="parallelogram mr-8"></div>
          <div class="parallelogram mr-3"></div>
          <div class="triangle"></div>
        </div>
      </div>
    </div>

    <div class="mb-5 page-container">
      <p class="my-5 fw-bold">
        在您這次的腸道菌相檢測結果，首先在六大核心指數中，<span class="text-gold"
          >油切健康指數偏低，表示您體內調節脂肪能力、蛋白質代謝能力較弱，建議減少飲食中肉類的比例；腸道功能指數偏低，表示您腸道防護能力及細胞再生能力較弱，建議適量服用腸道保健食品，改善腸道功能。 </span
        ><br />
        
        <p class="mb-5 fw-bold">其次，在身體功能評估方面<span class="text-gold"
          >心血管功能風險偏高，表示您表示您可能攝取過量的脂肪、膽固醇，可能血糖指數也較高，須注意改善生活與飲食方式；腸功能風險偏高，表示您可能飲食中多肉及糖分，使得腸道保護能力下降，建議可減少高負擔飲食，增加纖維及蔬果的攝取。
        </span></p>
        <br /><p class="mb-5 fw-bold">中天生物科技提醒您，如果有感到任何不適的狀況，請諮詢專科醫師做進一步詳細的檢測。腸道微生物環境是動態變化，本評估僅能呈現您檢測當下，腸道微環境及相關功能風險，無法判斷您是否確實罹患疾病，若有疑慮仍需諮詢專科醫師進行詳細檢查。再次提醒您，任何優異的檢測，保健食品或藥物治療，都需要仰賴您自我維持良好的健康生活型態。</p>
      </p>
    </div>
  </div>

  <footer>
    <div class="page-number">7</div>
  </footer>
</page>
