<page size="A4">
  <div class="page-bg-v2">
    <img src="./assets/images_v2/2內頁.jpg" alt="" />
  </div>

  <div class="page-tab-v2 page-tab-v2-top28">腸道健康分析</div>

  <div class="p7-content">
    <div class="p7-header">
      <span class="page-breadcrumb">1.2 腸道健康指引</span>
    </div>

    <div class="p7-body">
      <p class="p7-text text-indent">
        在您這次的腸道菌相檢測結果中，首先在六大核心指數方面顯示「微生態多樣性偏低」，代表腸道內細菌種類較少；菌叢生態平衡失調，可能較容易引發過敏症狀、心血管疾病、糖尿病及腸道發炎等問題；建議您於日常飲食中增加含有菌群飲食物的比例，或提高蔬果攝取量，以提升腸道內的菌種多樣性。
      </p>

      <p class="p7-text text-indent">
        其次，在身體功能評估中顯示「腎功能風險偏高」，表示腸道內參與腎臟功能的菌叢數量狀況不佳，可能導致腎功能退化，可能增加罹患腎臟疾病風險；建議您用藥時須特別注意，同時應少過油膩及辛辣食物的攝取，養成定量的飲食習慣，盡量降低生活壓力，以維持腸道健康。
      </p>

      <p class="p7-text text-indent">
        近年來國際研究文獻指出，腸道菌相與多種疾病具有高度關聯性，因此建議定期進行腸道菌相檢測，掌握菌叢變化狀況；並透過中天生技研發的「中天IA腸生態」助您調整腸道菌叢生態，不僅可改善腸胃功能，亦能促進血液中免疫細胞活化、提升免疫力，使身體維持青春與活力。
      </p>
    </div>
  </div>

  <footer>
    <div class="page-number">7</div>
  </footer>
</page>
