<page size="A4">
  <%- include('../ejs/logo.ejs') %>

  <div class="d-flex flex-column align-items-center">
    <div class="mt-8 w-100">
      <div class="col-12 page-title-container mb-5">
        <h3 class="page-title">1.3 菌相數量分布圖</h3>
        <div class="parallelogram mr-2"></div>
        <div class="parallelogram mr-5"></div>
      </div>
    </div>

    <div class="mb-5 page-container">
      <h4 class="py-1 px-2 pageSubtitle"><i class="far fa-chart-bar mr-1"></i>華人腸道菌相數量分布圖</h4>
      <div class="bg-8-container d-flex justify-content-center mt-4">
        <img class="bg-8" src="./assets/images/8.png" alt="" />
      </div>
      <h4 class="py-1 px-2 pageSubtitle"><i class="far fa-hand-point-right mr-1"></i>圖形說明</h4>
      <p class="mt-4 text-indent">
        中天生物科技利用次世代基因定序技術，同時結合國際微生物資料庫及中天生物科技獨有之資料庫進行驗證，建立了專屬華人的平均菌屬數量分布圖。而研究文獻均證實菌相數量和身體的免疫能力有正相關，數量越多，代表身體的免疫能力越強。<br />
        您的個人菌屬數量為<span class="text-gold">50</span>。由資料判斷，<span class="text-gold"
          >的個人菌屬數量與大多數人相同，穩定但尚有加強的空間。</span
        >您因此建議您可透過服用中天生物科技所研發的〝腸生態個人化精準調理〞，<span class="text-gold"
          >來提升您的腸道環境多樣性，讓身體能更有力的抵禦外來毒素，維持您身體的健康。</span
        >
      </p>
    </div>
  </div>

  <footer>
    <div class="page-number">8</div>
  </footer>
</page>
