<page size="A4">
  <%- include('../ejs/logo.ejs') %>

  <div class="d-flex flex-column align-items-center">
    <div class="mt-8 w-100">
      <div class="col-12 page-title-container mb-5">
        <h3 class="page-title">1.4 健康分析指標</h3>
        <div class="parallelogram mr-2"></div>
        <div class="parallelogram mr-5"></div>
      </div>
    </div>

    <div class="mb-5 page-container">
      <h4 class="py-1 px-2 pageSubtitle"><i class="fas fa-table mr-1"></i>F/B比值</h4>
      <table class="fb-table text-center my-4">
        <th>檢測數值</th>
        <th>結果分析</th>
        <th>評估</th>
        <tr>
          <td>1.69</td>
          <td>偏向厚壁菌門</td>
          <td>有體重增加趨勢</td>
        </tr>
      </table>
      <p class="comment-container ls-1 my-5 text-justify text-indent p-2">
        <span class="commentTitle">檢測說明</span>

        F/B分別指的是腸道菌群中的厚壁菌門 (F, Firmicutes) 和擬桿菌門 (B,
        Bacteroidetes)，目前研究顯示F/B比值反應身體質量指數 (BMI)，與肥胖傾向相關。
        厚壁菌門使碳水化合物代謝(carbohydrate metabolism)，導致脂肪堆積造成體重增加。所以調控F/B比值有助於體重控制。
      </p>

      <h4 class="py-1 px-2 pageSubtitle"><i class="fas fa-table mr-1"></i>B/E比值</h4>

      <table class="fb-table text-center my-4">
        <th>檢測數值</th>
        <th>結果分析</th>
        <th>評估</th>
        <tr>
          <td>1000</td>
          <td>菌群數量平衡</td>
          <td>腸道菌相穩定</td>
        </tr>
      </table>
      <p class="comment-container ls-1 my-5 text-justify text-indent p-2">
        <span class="commentTitle">檢測說明</span>
        B/E比值是指雙歧桿菌屬（Bifidobacterium）和腸桿菌科（Enterobacteriaceae）的比值，目前研究顯示B/E比值反應腸道菌相平衡。若B/E數值大於1，表示腸道菌群處於平衡狀態；但若B/E數值小於1，表示腸道菌群處於失衡狀態，可能會造成腹瀉、過敏或代謝失調等等現象。
      </p>
    </div>
  </div>

  <footer>
    <div class="page-number">9</div>
  </footer>
</page>
