<page size="A4">
  <div class="page-bg-v2">
    <img src="./assets/images_v2/2內頁.jpg" alt="" />
  </div>

  <div class="page-tab-v2 page-tab-v2-top28">腸道健康分析</div>

  <div class="p9-content">
    <div class="p9-header">
      <span class="page-breadcrumb">1.4 健康分析指標</span>
    </div>

    <div class="p9-body mt-3">
      <!-- F/B比值 -->
      <div class="p9-section">
        <h2 class="p9-title">F/B比值</h2>
        <table class="p9-table mb-2">
          <thead>
            <tr>
              <th>檢測數值</th>
              <th>結果分析</th>
              <th>評估</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1.83</td>
              <td>偏向厚壁菌門</td>
              <td>有體重增加趨勢</td>
            </tr>
          </tbody>
        </table>
        <div class="p9-comment">
          <div class="p9-comment-title">檢測說明</div>
          <p class="text-indent">
            F/B分別指的是腸道菌群中的厚壁菌門（F, Firmicutes）和擬桿菌門（B,
            Bacteroidetes），目前研究顯示F/B比值反應身體質量指數（BMI），與肥胖傾向相關。厚壁菌門使碳水化合物代謝（carbohydrate
            metabolism），導致脂肪堆積造成體重增加。所以調控F/B比值有助於體重控制。
          </p>
        </div>
      </div>

      <!-- B/E比值 -->
      <div class="p9-section">
        <h2 class="p9-title">B/E比值</h2>
        <table class="p9-table mb-2">
          <thead>
            <tr>
              <th>檢測數值</th>
              <th>結果分析</th>
              <th>評估</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>100</td>
              <td>菌群數量平衡</td>
              <td>腸道菌相穩定</td>
            </tr>
          </tbody>
        </table>
        <div class="p9-comment">
          <div class="p9-comment-title">檢測說明</div>
          <p class="text-indent">
            B/E比值是指雙歧桿菌屬（Bifidobacterium）和腸桿菌科（Enterobacteriaceae）的比值，目前研究顯示B/E比值反應腸道菌相平衡。若B/E數值大於30，表示腸道菌群處於平衡狀態；但若B/E數值小於30，表示腸道菌群處於失衡狀態，可能會造成腹瀉、過敏或代謝失調等現象。
          </p>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div class="page-number">9</div>
  </footer>
</page>
