body {
  background: rgb(204, 204, 204);
  font-family: 'Noto Sans TC', sans-serif;
}

header {
  position: relative;
}

page,
.container-A4 {
  position: relative;
  background: white;
  display: block;
  margin: 0 auto;
  // margin-bottom: 0.5cm;
  // box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  page-break-after: always;
  page-break-before: always;
}
page[size='A4'],
.container-A4[size='A4'] {
  width: $page-size-width;
  height: $page-size-height;
}
page[size='A4'][layout='landscape'] {
  width: 29.7cm;
  height: 21cm;
}
page[size='A3'] {
  width: 29.7cm;
  height: 42cm;
}
page[size='A3'][layout='landscape'] {
  width: 42cm;
  height: 29.7cm;
}
page[size='A5'] {
  width: 14.8cm;
  height: 21cm;
}
page[size='A5'][layout='landscape'] {
  width: 21cm;
  height: 14.8cm;
}

@media print {
  body,
  page {
    margin: 0;
    box-shadow: 0;
  }
}

h1 {
  font-size: 80px;
  font-weight: bold;
  line-height: 100px;
  letter-spacing: 6px;
}

h2 {
  font-size: 60px;
  font-weight: bold;
  line-height: 60px;
}

h3 {
  font-size: 40px;
  font-weight: bold;
  line-height: 50px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

h4 {
  font-size: 36px;
  font-weight: bold;
  line-height: 50px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

h5 {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 5px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

h6 {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 2px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

p {
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 4px;
  text-align: justify;
  color: #555555;
}

ul,
ol {
  color: #555555;

  li {
    color: #555555;
  }
}

table {
  color: #555555;
}

.fw-bold {
  font-weight: bold;
}
