$page-size-height: 297mm;
$page-size-width: 210mm;
$dark-yellow: rgb(191, 144, 0);
$yellow: rgb(255, 194, 0);
$title-background-color: rgb(243, 192, 7);
$page-background-color: white;

$title-height: $page-size-height/8;
$title-side-height: $page-size-height/80;
