.triangle {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 100%;
  border-style: solid;
  border-width: 0 0 140px 50px;
  border-color: transparent transparent $page-background-color transparent;
}

.parallelogram {
  position: absolute;
  right: 50px;
  top: 0;
  display: inline-block;
  height: $title-height;
  width: 20px;
  background-color: $page-background-color;
  color: #333;
  transform: skew(-20deg);
}
